body {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    color: #ddd;
    background-color: #f5f9fc;
}

#shakeosphere_form {
    background-color: #3a3d45;
    padding: 0px;
    border: none;
    float: left;
    width: 300px;
    height: 100%;
    /*display: table;*/
    font-family: Consolas, sans-serif;
    overflow: auto;
}

#graph {
    font-family: Consolas, sans-serif;
    font-size: 16px;
}

.updateButton{
    font-family: Consolas, sans-serif;
    padding: 15px 20px 15px 20px;
    background-color: #3a3d45;
    color: #ddd;
    border: solid;
    border-width: 1px;
    border-color: #ddd;
    font-weight: normal;
    font-size: 16px;
    margin: 15px 0px 10px 0px;
    transition-duration: 0.2s;
}

.updateButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.inputText, .select  {
    font-family: Consolas, sans-serif;
    font-size: 14px;
    padding: 8px;
    border: none;
    background-color: #eeeeee;
    height: 28px;
}

.spacing {
    margin: 18px;
}

.accordion{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
}

.formHeading{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 15px 20px 15px 20px;
    background: #3a3d45;
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
}

.panelHeading, .panelForm {
    margin: 0px 0px 10px 0px;
    font-weight: normal;
}

.panelFormHeader {
    margin-top: 10px;
    margin-bottom: 6px;
}

.close .panel{
    height:0px;
    transform: scaleY(0);
    float:left;
    display:block;
}

.open .panel{
    float:left;
    padding-left: 20px;
    background-color: #3a3d45;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display:block;
    transform: scaleY(1);
    transform-origin: top;
    box-sizing: border-box;
}

.accordionHeading:hover{
    margin:0px 0px 0px 0px;
    background-color: #3a3d45;
    color: #ddd;
    cursor: pointer;
    text-decoration: underline;
}

.toggle-inbox {
   display: none;
}

.toggle-inbox:checked ~ div#my {
   display: block;
}

.label::after {
   background-color: #3a3d45;
   border-right: 3px solid #ddd;
   border-bottom: 3px solid #ddd;
   width: 10px;
   display: inline-block;
   height: 10px;
   transform: rotate(45deg);
   margin-top: 10px;
   content: "";
   margin-left: 5px;
}

.toggle-inbox:checked ~.label::after {
   border-right: 3px solid #ddd;
   border-bottom: 3px solid #ddd;
   transform: rotate(-135deg);
}

.download-link {
    font-weight: bold;
    font-size: 18px;
}

.download-link:hover {
    text-decoration: underline;
}
